https://github.com/Mahesh0253/pyrogram/archive/inline.zip
numpy
yt-dlp
Pillow
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor[srv]
beautifulsoup4
humanize
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
pymongo[srv]==3.12.3
